.wrap {
    // position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: computed(30);
        box-sizing: border-box;
    }
    .bottom-btns-wrap{
        display: flex;
        button{
            flex:1;
            height:computed(100);
            line-height: computed(100);
            text-align: center;
            color:#fff;
        }
    }
}