/*  局部通用样式  */

.wrapper {
  margin: 0 computed(30);
}

//  全局通用浮动
.fl {
  float: left;
}

.fr {
  float: right;
}

.color-red {
  color: #c41717;
}

.color-black {
  color: #0D0E09;
}

.bg-red {
  background: #c41717;
}

.bg-gray {
  background: #f5f5f5;
}

.bg-white {
  background: #ffffff;
}

.wd100 {
  width: 100%;
}

.wd70 {
  width: 70%;
}

.wd60 {
  width: 60%;
}

.wd40 {
  width: 40%;
}

.wd30 {
  width: 30%;
}

/*  全局通用底部按钮  */
.bottom-btn {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: computed(94);
  background: #c41717;
  font-size: computed(30);
  line-height: computed(94);
  color: #ffffff;
  text-align: center;
  z-index: 2;
}

.bottom-btn2 {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  height: computed(94);
  padding: computed(11) computed(30);
  border: none;
  background: #ffffff;
  color: #ffffff;
  text-align: center;
  .btn-txt{
    font-size: computed(30);
    line-height: computed(72);
    background: #c41717;
  }
  z-index: 2;
}

/* 全局通用空内容 */
.empty-content{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: computed(28);
  line-height: computed(30);
  color: #999999;
  p{
    font-size: computed(28);
    line-height: computed(30);
    color: #999999;
  }
}

/* 全局通用svg图标样式 */
.svg-icon{
  /* 图标和文字相邻时，垂直对齐 */
  vertical-align: -0.15em;
  /* 通过设置 color 来改变 SVG 的颜色/fill */
  fill: currentColor;
  /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
     normalize.css 中也包含这行 */
  overflow: hidden;
}


/*  手机号绑定、更换页面  */
.phone-box {
  overflow: hidden;
  .form-box {
    box-sizing: border-box;
    width: 100%;
    height: computed(88);
    margin-top: computed(30);
  }
  .form-box .van-cell {
    display: block;
    box-sizing: border-box;
    height: computed(88);
    padding: 0 computed(30);
    background: #F6F6F6;
    font-size: computed(30);
    line-height: computed(88);
    color: #0D0E09;
    border: none;
    /* 解决ios版微信浏览器的边框和阴影*/
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-appearance: none;
  }
  .captcha-btn {
    box-sizing: border-box;
    display: block;
    float: right;
    position: relative;
    margin: 0;
    border: none;
    background: transparent;
    text-align: center;
    font-size: computed(26);
    line-height: computed(88);
  }
}


/*  添加底部导航需添加=>防止遮挡样式  */
._footer-bar-padding{
  padding-bottom: computed(98);
}


/*loading组件加载遮罩 -- 使用方式可参照商品详情*/
.com-shade-style{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  
  .com-loading-style{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left:computed(-50);
    margin-top:computed(-50);
  }
}