//计算单位函数
@function computed($number) {
    @return ($number/750)*100vw
};
@function computed1($number1) {
    @return ($number1/1334)*100vh
};

$maincolor: #C41717;
$blackcolor: #0d0e09;
$blackcolor-1: rgba(116, 116, 116, 1);